[submodule "client"]
	path = client
	url = https://github.com/federicopoi/tpm-project-mern.git
[submodule "vendor/plugins/open_flash_chart_2"]
	path = vendor/plugins/open_flash_chart_2
	url = git://github.com/korin/open_flash_chart_2_plugin.git
